@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

.appbar {
	background-color: #f94722;
	height: 85px;
	text-align: center;
	font-size: 42px;
}
.logo {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
}